/* general styles */

html {
  font-size: 16px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: rgba(74,74,74,1);
}

header,
footer,
.banner,
.information,
.learning,
.thesis {
  display: block;
  width: 100%;
  height: auto;
}

footer,
.banner,
.information,
.learning,
.thesis {
  position: relative;
  top: 64px;
}

.container {
  display: flex;
  max-width: 1080px;
  height: auto;
  margin: auto;
}

.banner {
  background-color: rgb(216,216,216);
}

.learning {
  background-color: rgb(234,235,236);
}

h3 {
  text-align: center;
  padding: 32px 0;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(74,74,74);
}

h4 {
  text-align: left;
  font-size: 1.5rem;
  padding: 24px 0 8px 0;
  color: rgb(74,74,74);
  font-weight: 600;
}

h5 {
  text-align: left;
  font-size: 1.25rem;
  color: rgb(74,74,74);
  font-weight: 600;
  line-height: 1.5rem;
}

p {
  font-size: 1rem;
  color: rgb(74,74,74);
  line-height: 1.35rem;
}

.small {
  display: none;
}


/* header */

header {
  position: fixed;
  z-index: 10;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/* -- logo -- */
.headerCont {
  align-items: center;
  height: 64px;
  justify-content: space-between;
}

.logo {
  display: flex;
  width:auto;
  height: 32px;
  align-items: center;
  margin-left: 1.5rem;
  font-size: 1.5rem;
  font-family: 'Ubuntu', sans-serif;
  color: rgb(155,155,155);
  text-transform: uppercase;
}

.logo .bLogo {
  font-weight: 700;
  color: rgb(74,74,74);
}

/*nav*/

nav {
  display: flex;
  height: auto;
  width: auto;
}

nav ul {
  display: flex;
  margin-right: 24px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

nav ul li {
  margin-left: 16px;
}

nav ul li a {
  font-size: 1rem;
  color: rgb(74,74,74);
  transition: all 200ms ease 20ms;
}

nav ul li a:hover {
  background-color: rgb(255,85,0);
  color: white;
  padding: 1.35rem 0.5rem;
  /*color: rgb(255,85,0);
  font-weight: 600;
  text-decoration: underline;*/
}

@media only screen and (max-width: 647px) {

  .logo {
    display: none;
  }

  nav .wide {
    display: none;
  }

  nav {
    width: 100%;
    height: 100%;
  }

  nav .small {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    justify-content: space-around;
  }

  nav .small li {
    display: flex;
    height: 100%;
    margin: 0;
    align-items: center;
  }

    nav ul li a:hover {
      background-color: rgb(255,85,0);
      color: white;
      padding: 1.1rem 0.5rem;
      /*color: rgb(255,85,0);
      font-weight: 600;
      text-decoration: underline;*/
  }

}


@media only screen and (max-width: 600px) {

  .wide {
    display: none;
  }

}

/* -- Banner -- */

.photoBanner {
  display: flex;
  width: 60%;
  padding: 2rem 1.5rem;
  align-items: center;
}

.photoBanner img {
  height: auto;
  width: 100%;
}

.contentBanner {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
}

.contentBanner h2 {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(74,74,74);
  padding-bottom: 1rem;
}

.contentBanner p {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: rgb(74,74,74);
  padding-bottom: 1rem;
}

.contentBanner a{
  font-size: 1.25rem;
  color: white;
  width: 80%;
  padding: 0.75rem 0;
  background-color: rgb(74,74,74);
  text-align: center;
  transition: all 200ms ease 20ms;
}

.contentBanner a:hover{
  background-color: rgb(255,85,0);
}

@media only screen and (max-width: 760px)
{
    .banner .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .photoBanner {
      width: 94%;
      justify-content: center;
    }

    .contentBanner {
      width: 90%;
      align-items: center;
      padding-bottom: 2rem;
    }

    .contentBanner h2 {
      padding-bottom: 1rem;
      text-align: center;
    }

    .contentBanner p {
      text-align: center;
    }

    .contentBanner a{
      width: 80%;
      padding: 0.75rem 0;
      margin: 0.5rem 0;
    }
}

@media only screen and (max-width: 600px) {

  .photoBanner {
    width: 100%;
    padding: 0;
    margin-bottom: 2rem;
    justify-content: center;
  }

  .contentBanner {
    padding-bottom: 0;
  }

  .contentBanner h2 {
    padding-bottom: 2rem;
    text-align: center;
  }

  .contentBanner p {
    padding-bottom: 1.5rem;
  }

  .contentBanner a{
    width: 100%;
    margin: 0;
    margin-bottom: 2rem;
  }

}

/* -- Information and thesis -- */ /*similar structure*/

.bigInfo {
  display: flex;
  width: 60%;
  padding: 2rem 1.5rem;
  flex-direction: column;
  justify-content: center;
}

.biPicture img,
.videoThesis video{
  height: auto;
  width: 100%;
}

.infoList {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
}

.bigInfo h3 {
  text-align: left;
  padding-bottom: 24px;
}

.sAuthor {
  margin-top: 2rem;
  font-size: 0.95rem;
  color: rgb(60,60,60);
}

.infoList {
  display: flex;
  height: auto;
  width: 40%;
  flex-direction: column;
  border-left: 1px solid rgb(234,235,236);
  border-right: 1px solid rgb(234,235,236);
  justify-content: flex-start;
}

.newInfoList {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid rgb(234,235,236);
  border-bottom: 1px solid rgb(234,235,236);
  align-items: center;
  transition: all 200ms ease 20ms;
}

.newInfoList:hover {
  background-color: rgb(234,235,236);
}

.infoListPic {
  width: 35%;
  padding: 1rem;
}

.infoListPic img {
  height: auto;
  width: 100%;
}

.infoListText {
  width: 62%;
  margin-right: 3%;
}

.infoListText p {
  padding: 0.5rem 0;
}

.textButton a {
  color: rgb(77,146,226);
  transition: all 200ms ease 20ms;
}

.textButton a:hover {
  margin-left: 6px;
  color: rgb(46,120,208);
}

@media only screen and (max-width: 600px) {

  .information .container .bigInfo {
    display: none;
  }

  .infoSmall {
    width: 100%;
    border: 0;
  }

  .infoSmall .newInfoList {
    border: 0;
    flex-direction: column;
  }

  .infoSmall .newInfoList .small {
    display: block;
    width: auto;
    padding: 1rem;
  }

  .infoSmall .newInfoList .infoListText {
    width: 83%;
    height: auto;
    padding: 0 1rem 3rem 1rem;
  }

  .infoSmall .newInfoList .infoListText h5 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .infoSmall .newInfoList .infoListText p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .infoSmall .newInfoList .infoListText a {
    font-size: 1.25rem;
  }

}

/* -- Thesis -- */

.thesis .container {
  flex-direction: column;
}

.thesis .container h3, {
  width: 100%;
}

.bThesis {
  padding-top: 0;
}

.thesisWrapper {
  display: flex;
}

/*.thesisWrapper .infoList .newInfoList:nth-child(odd) {
  background-color: rgb(216,216,216);
}*/

.bigInfo h4 {
  text-align: left;
  padding-top: 32px;
  padding-bottom: 24px;
}

.nBorder {
  border: 0;
}

@media only screen and (max-width: 600px) {

  .thesisWrapper .wide {
    display: none;
  }

  .bThesis {
    width: 100%;
  }

}

/* -- Learning -- */

.learning .container {
  flex-direction: column;
}

.colmarCareers {
  display: flex;
  margin: 0 72px 32px 72px;
  flex-wrap: wrap;
  justify-content: space-between;

}

.career {
  display: flex;
  width: 32%;
  height: auto;
  flex-direction: column;
  background-color: white;
  margin-bottom: 1rem;
  align-items: center;
}

.career img {
  width: 100%;
  height: auto;
}

.careerInfo {
  /*padding: 10%;*/
  padding-bottom: 1rem;
  height: auto;
  width: 80%;
}

.careerInfo h4 {
  padding: 1rem 0 0.5rem 0;
}

.upper {
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}

@media only screen and (max-width: 600px) {

  .learning {
    background-color: white;
    border: 1px solid rgb(234,235,236);
  }

  .colmarCareers {
    margin: 0 1rem 2rem 1rem;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
  }

  .career {
    width: 100%;
    background-color: rgb(234,235,236);
    margin-bottom: 0.5rem;
  }

  .career img {
    display: none;
  }

  .careerInfo {
    padding:0;
    height: auto;
    width: 90%;
  }

  .careerInfo h4 {
    padding: 1rem 0;
  }

  .upper {
    text-transform: uppercase;
    padding-bottom: 0.5rem;
  }

}

/* -- footer -- */

footer .container {
  border-top: 1px solid rgba(155,155,155,0.4);
  padding: 1rem 1.5rem 3rem 1.5rem;
  justify-content: space-between;
  font-size: 1rem;
}

.siteInfoMenu li {
  margin-left: 1rem;
  display: inline-block;
}

.siteInfoMenu li a {
  color: rgba(74,74,74,1);
  transition: color 200ms ease 20ms;
}

.siteInfoMenu li a:hover {
  color: rgba(255,85,0,0.7);
}

@media only screen and (max-width: 600px) {
  footer .container {
    border: none;
  }
}
